/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */


header{display: flex;
    margin-left: auto;
    width: 100%;
    height: 59px;
    background-color: #7d718c;
    align-items: center;
justify-content: space-between;
}

.tableau{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;

}
.recherche{
    width: 375px;
    height: 30px;
    background-color: white;
    border-radius: 8px;
}
.navDroite{
    display: flex;
    align-items: center;
    gap: 20px;

    margin-right: 100px;

}

.iconf{
    color: white;



}

body {
    display: grid;
    grid-template-columns: 15% 85%;
margin: 0px;
    padding: 0px;
    background-color: #ededed;
}
.logoSection{


    background-color: #7d718c;
    margin: 0px;
    padding: 0px;
    width: 99.5%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
menu{
    margin: 0px;
    padding: 0px;
}


.userSection{
    background-color: #7d718c;
    margin: 0px;
    padding: 0px;
    width: 99.5%;
    height: 59px;
    margin-top: 2px;
    display: flex;
    align-items: center;
gap: 15px;


    h5{color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-top: 5px}

}
.userSectionContenu{
display: flex;
    gap:13px;
    margin-left: 30px;
}
.graphContributeurs{

    margin-bottom: -20px;
    margin-left: 65px;
}
.menuSection{

    background-color: #7d718c;
    margin: 0px;
    padding: 0px;
    width: 99.5%;
    height: 96.9%;
    margin-top: 2px;
    display: flex;

    gap: 15px;
    justify-content: center;

    h5{color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-top: 4px;
        font-size: 20px;
       }
    i{
        font-size: 24px;


    }


}

.boiteItems{
margin-top: 20px;

}

.menuItem{
    display: flex;
    gap: 20px;
 align-items: center;
    i{color: white}
    margin-top: 25px;

    .selectedItem{

       font-weight: 500;
        font-size: 25px;


    }
  


}



.menuItem:hover{
    cursor: pointer;
}
.droite{

    margin-left: -5px;

}


.iconfleche{


    color: white;
}
.boiteLogo{

    margin-left: 20px;
}

.boiteFleche{

    margin-right: 25px;

}

.dernierOption{

    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    margin-left: 80px;
    h5{
        font-size: large;

    }
}
.boiteElement{


    width: 311px;
    height: 151px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    margin-left: 80px;
}

.cercleIcon{
    margin-top: -25px;

    width: 50px;
    height: 50px;
    background-color: #bd93d1;
    border-radius: 30px;
    margin-left: 30px;
bottom: 125px;
    display: flex;
    justify-content: center;
    align-items: center;

    i{
        font-size: 24px;
        color: white;

    }




}

.boiteInfo{

    display: flex;
}
.boiteTitre{
  margin-top: 5px;
 margin-left: 25px;
    gap: 5px;
    h4{
        font-size: 20px;
    }


}

.infoRow{

    display: flex;
    align-items: center;
    .cardNumber{
        font-family: 'Roboto', sans-serif;
        color: #5E5CD3;
        font-weight: 500;
        margin-top: 6px;
        font-size: 26px;




    }
}

.cardTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    font-size: 200px;
}
.priceNumber{

    color:#7CC38C;
    font-weight: bold;


}
.priceRedNumber{
    font-weight: bold;
    color: red;

}
.avancement{

    width: 46px;
    height: 13px;
    border-radius: 10px 0px 0px 10px;
    background-color: #79D48D;
    margin-top: -13px;

}
.barreAvancement{

    width: 95px;
    height: 13px;
    border-radius: 10px;
    background-color: #d3d3d3;
    margin-top: 39px;
    margin-right: 10px;

}
.rowInfo{
    display: flex;
}

.infoBottom{
    width: 80%;
margin-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 15px;
    font-weight:initial;
    color: #B7ABC1;

}

.boiteGraphContribution{

    width: 1095px;
    height: 532px;
    background-color: white;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}
.boiteProvenance{
    display: flex;
    flex-direction: column;
   align-items: center;

width: 311px;
    height: 533px;
    background-color: white;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.secondRow{

    display: flex;
}

.graphiqueCont{

 margin-top: 5px;
}

.provenanceTitle{

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;


}
.plateformTexte{

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;

}


.boitePlateforme{

    display: grid;
    grid-template-columns: 30% 70%;

gap: 30px;

    margin-top: 35px;
    width: 80%;

}
.boiteProgression{

    height: 12px;
    width: 135px;
    background-color: #ffffff;
    margin-top: 3px;
    border: solid;
    border-width: 1.8px;
    border-radius: 2px;
    border-color: #A278B6;

}
.Progression{

    border-radius: 2px 0px 0px 2px;
    margin-left: -2px;
    height: 12px;
    width: 90px;
    background-color: #A278B6;
    margin-top: -2px;
}

.boiteProgressionInsta{
    height: 12px;
    width: 135px;
    background-color: #ffffff;
    margin-top: 3px;
    border: solid;
    border-width: 1.8px;
    border-radius: 2px;
    border-color: #A278B6;

}
.ProgressionInsta{


    height: 12px;
    width: 65px;
    background-color: #A278B6;
    margin-top: -1px;
    margin-left: -1px;
}
.boiteProgressionYT{
    height: 12px;
    width: 135px;
    background-color: #ffffff;
    margin-top: 3px;
    border: solid;
    border-width: 1.8px;
    border-radius: 2px;
    border-color: #A278B6;

}
.ProgressionYT{


    height: 12px;
    width: 35px;
    background-color: #A278B6;
    margin-top: -1px;
    margin-left: -1px;
}
.boiteProgressionLD{
    height: 12px;
    width: 135px;
    background-color: #ffffff;
    margin-top: 3px;
    border: solid;
    border-width: 1.8px;
    border-radius: 2px;
    border-color: #A278B6;

}
.ProgressionLD{


    height: 11px;
    width: 46px;
    background-color: #A278B6;
    margin-top: -1px;
    margin-left: -1px;
}
.boiteProgressionG{
    height: 12px;
    width: 135px;
    background-color: #ffffff;
    margin-top: 3px;
    border: solid;
    border-width: 1.8px;
    border-radius: 2px;
    border-color: #A278B6;

}
.ProgressionG{


    height: 11px;
    width: 56px;
    background-color: #A278B6;
    margin-top: -1px;
    margin-left: -1px;
}
.boiteProgressionTT{
    height: 12px;
    width: 135px;
    background-color: #ffffff;
    margin-top: 3px;
    border: solid;
    border-width: 1.8px;
    border-radius: 2px;
    border-color: #A278B6;

}
.ProgressionTT{


    height: 11px;
    width: 8px;
    background-color: #A278B6;
    margin-top: -1px;
    margin-left: -1px;
}
.boiteProgressionP{
    height: 12px;
    width: 135px;
    background-color: #ffffff;
    margin-top: 3px;
    border: solid;
    border-width: 1.8px;
    border-radius: 2px;
    border-color: #A278B6;

}
.ProgressionP{


    height: 11px;
    width: 56px;
    background-color: #A278B6;
    margin-top: -1px;
    margin-left: -1px;
}
.boiteProgressionTW{
    height: 12px;
    width: 135px;
    background-color: #ffffff;
    margin-top: 3px;
    border: solid;
    border-width: 1.8px;
    border-radius: 2px;
    border-color: #A278B6;

}
.ProgressionTW{


    height: 11px;
    width: 77px;
    background-color: #A278B6;
    margin-top: -1px;
    margin-left: -1px;
}
.thirdRow{display: flex}
.ContributionJour{

    height: 487px;
    width: 44%;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    margin-left: 80px;

}
.ProduitVendu{
    height: 487px;
    width: 44%;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    margin-left: 60px;
}

.graphTitle{

    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;

}
